In [2]:
import pandas as pd

data = pd.read_csv('cleveland.csv', header=None)

In [3]:
data.columns = ['age', 'sex', 'cp', 'trestbps', 'chol',
              'fbs', 'restecg', 'thalach', 'exang', 
              'oldpeak', 'slope', 'ca', 'thal', 'target']

data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0

In [4]:
data = data.fillna(data.thal.median())
data = data.fillna(data.ca.median())

In [5]:
data.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [6]:
# replace 1,2,3,4 to 1
data.target = data.target.replace({2:1, 3:1, 4:1})

data.target.value_counts()

0    164
1    139
Name: target, dtype: int64

In [9]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [8]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [11]:
xfeatures = data[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']]
ylabel = data['target']

In [12]:
skb = SelectKBest(score_func=chi2, k=7)
best_features_fit = skb.fit(xfeatures, ylabel)

In [13]:
print(best_features_fit.scores_)

[2.25623191e+01 7.43284548e+00 1.51401599e+01 1.61590956e+01
 2.38029354e+01 1.64669240e-01 8.64489691e+00 1.83821471e+02
 3.80526129e+01 7.05725496e+01 8.24391411e+00 7.33573490e+01
 6.54823135e+01]

In [14]:
best_features_trans = best_features_fit.transform(xfeatures)

In [15]:
best_features_trans

array([[ 63. , 233. , 150. , ...,   2.3,   0. ,   6. ],
       [ 67. , 286. , 108. , ...,   1.5,   3. ,   3. ],
       [ 67. , 229. , 129. , ...,   2.6,   2. ,   7. ],
       ...,
       [ 57. , 131. , 115. , ...,   1.2,   1. ,   7. ],
       [ 57. , 236. , 174. , ...,   0. ,   1. ,   3. ],
       [ 38. , 175. , 173. , ...,   0. ,   3. ,   3. ]])

In [16]:
feature_scores = pd.DataFrame(best_features_fit.scores_,columns=['Feature_Scores'])

In [17]:
feature_scores

    Feature_Scores
0        22.562319
1         7.432845
2        15.140160
3        16.159096
4        23.802935
5         0.164669
6         8.644897
7       183.821471
8        38.052613
9        70.572550
10        8.243914
11       73.357349
12       65.482313

In [18]:
feature_column_names = pd.DataFrame(xfeatures.columns,columns=['Feature_name'])
best_feat_df = pd.concat([feature_scores,feature_column_names],axis=1)

In [21]:
best_feat_df

    Feature_Scores Feature_name
0        22.562319          age
1         7.432845          sex
2        15.140160           cp
3        16.159096     trestbps
4        23.802935         chol
5         0.164669          fbs
6         8.644897      restecg
7       183.821471      thalach
8        38.052613        exang
9        70.572550      oldpeak
10        8.243914        slope
11       73.357349           ca
12       65.482313         thal

In [23]:
# Get the best
# The higher the number the more important the feature
best_feat_df.nlargest(7,'Feature_Scores')

    Feature_Scores Feature_name
7       183.821471      thalach
11       73.357349           ca
9        70.572550      oldpeak
12       65.482313         thal
8        38.052613        exang
4        23.802935         chol
0        22.562319          age

In [24]:
best_feat_df.nlargest(7,'Feature_Scores')['Feature_name'].unique()

array(['thalach', 'ca', 'oldpeak', 'thal', 'exang', 'chol', 'age'],
      dtype=object)

data.